aiohttp==3.8.4
aiosignal==1.3.1
ansible-compat==4.1.10
ansible-core==2.15.4
ansible-lint==6.20.1
appnope==0.1.3
asttokens==2.2.1
async-timeout==4.0.2
attrs==22.2.0
backcall==0.2.0
bidict==0.23.1
bitstring==4.0.1
black==23.9.1
bleak==0.21.1
blinker==1.8.2
bracex==2.4
cachetools==3.0.0
certifi==2023.11.17
cffi==1.15.1
chardet==3.0.4
charset-normalizer==3.1.0
click==8.1.7
colorama==0.4.6
comm==0.1.3
Contacts==1.0
contourpy==1.2.1
cryptography==40.0.2
cvpysdk==11.34
cycler==0.12.1
debugpy==1.6.6
decorator==5.1.1
dotmap==1.3.30
easygui==0.98.2
ecdsa==0.18.0
esptool==4.7.0
executing==1.2.0
filelock==3.12.4
Flask==3.0.3
Flask-Cors==4.0.1
Flask-SocketIO==5.3.6
fonttools==4.53.1
frozenlist==1.3.3
future==0.18.3
geckodriver-autoinstaller==0.1.0
gitdb==4.0.10
GitPython==3.1.31
glob2==0.5
gmplot==1.4.1
google-api-core==1.7.0
google-auth==1.6.2
google-cloud-core==0.29.1
google-cloud-translate==1.3.3
googleapis-common-protos==1.5.5
h11==0.14.0
idna==2.8
intelhex==2.3.0
ipykernel==6.22.0
ipython==8.11.0
itsdangerous==2.2.0
jedi==0.18.2
Jinja2==3.1.2
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
jupyter_client==8.1.0
jupyter_core==5.3.0
kiwisolver==1.4.5
lxmf==0.4.4
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.9.2
matplotlib-inline==0.1.6
mdurl==0.1.2
meshtastic==2.3.14
multidict==6.0.4
mypy-extensions==1.0.0
nest-asyncio==1.5.6
networkx==3.3
nomadnet==0.4.9
numpy==2.0.0
openai==0.27.2
packaging==24.1
pandas==2.2.2
parso==0.8.3
pathspec==0.11.2
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.4.0
platformdirs==3.2.0
plotly==5.23.0
print-color==0.4.6
prompt-toolkit==3.0.38
protobuf==5.26.0
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.21
pygame==2.3.0
Pygments==2.14.0
pyobjc-core==9.2
pyobjc-framework-Cocoa==9.2
pyobjc-framework-Contacts==9.0.1
pyobjc-framework-CoreBluetooth==9.2
pyobjc-framework-libdispatch==9.2
pyparsing==3.1.2
pypng==0.20220715.0
Pypubsub==4.0.3
PyQRCode==1.2.1
pyserial==3.5
pytap2==2.3.0
python-dateutil==2.8.2
python-engineio==4.9.1
python-socketio==5.11.3
pytz==2024.1
PyYAML==6.0.1
pyzmq==25.0.2
qrcode==7.4.2
reedsolo==1.6.0
referencing==0.30.2
requests==2.31.0
resolvelib==1.0.1
rich==13.5.3
rns==0.7.5
rnsh==0.1.4
rpds-py==0.10.3
rsa==4.0
ruamel.yaml==0.17.33
ruamel.yaml.clib==0.2.7
selenium==3.141.0
simple-websocket==1.0.0
six==1.12.0
smmap==5.0.0
srt==3.4.1
srt-deepl==0.9.1
stack-data==0.6.2
style==1.1.0
subprocess-tee==0.4.1
tabulate==0.9.0
tenacity==9.0.0
timeago==1.0.16
tornado==6.2
tqdm==4.65.0
traitlets==5.9.0
typing_extensions==4.10.0
tzdata==2024.1
update==0.0.1
urllib3==1.26.5
urwid==2.6.13
wcmatch==8.5
wcwidth==0.2.6
webencodings==0.5.1
Werkzeug==3.0.3
wsproto==1.2.0
xmltodict==0.13.0
yamllint==1.32.0
yarl==1.8.2
youtube-dl==2021.12.17
