cryptography==40.0.2
esptool==4.7.0
Flask==3.0.3
Flask-Cors==4.0.1
Flask-SocketIO==5.3.6
glob2==0.5
gmplot==1.4.1
Jinja2==3.1.2
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
matplotlib==3.9.2
matplotlib-inline==0.1.6
meshtastic==2.3.14
networkx==3.3
nomadnet==0.4.9
numpy==2.0.0
pandas==2.2.2
protobuf==5.26.0